@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

*{
color:#000000;
}


.login{
    text-align: center;
    padding:20px 0 20px 0;
    margin: 30px 0 10px 0;
    border-radius: 20px 20px 20px 20px;
}

.login:hover{
    text-align: center;
    padding:20px 0 20px 0;
    margin: 30px 0 10px 0;
   transition: background 1s ease-out;

}



input[type=text]{
width: 300px;
padding: 12px;
height: 30px;
border: 0px solid ;
border-bottom: 1px  solid #747474;
margin: 9px 0 9px 0;
font-size: 18px;
outline:none;
}


input[type=text]:hover{
    border-bottom: 1px  solid #b9b9b9;


    }

input[type=password]{
    
    width: 300px;
    padding: 12px;
    height: 30px;
    border: 0px solid ;
    border-bottom: 1px  solid #747474;
    margin: 9px 0 9px 0;
    font-size: 18px;
    outline: none;

    }

input[type=password]:hover{
    border-bottom: 1px  solid #b9b9b9;
    }

    

input[type=submit]{
    color:rgb(255, 255, 255);
    background-color: rgb(142, 15, 83);
    border:0px;
    margin: 20px 0 0 0;
    border-radius: 8px;
    padding: 18px;
    border-radius: 2px solid;
    text-transform: uppercase;
    transition: 1s;
}

input[type=submit]:hover{
    background-color: rgb(180, 180, 180);
    transition: 1s;
    transform: scale(1.1);
}


.login label{
color:rgb(144, 144, 144);


}

.login h1{
    font-family: 'Dancing Script', cursive;

}


.imgl{
height: 300px;
margin: 0 0px 0px 0px ;
}